@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 90vh;
    font-family: 'Arvo', serif;
    text-align: center;
    background-color: cadetblue;
    color: white;
}
.layer{
    padding: 1px;
}
h1{
    font-size: 50px;
    margin-top: 150px;
    animation-delay: 0.1s;
}
header p{
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    margin: 40px;
    animation-delay: 0.5s;
}
header a{
    display: block;
    width: 200px;
    height: 55px;
    background-color: #CA970B;
    margin: 0 auto;
    color: #fff;
    text-decoration: none;
    padding-top: 15px;
    font-size: 18px;
    animation-delay: 0.9s;
}
h1, header p, header a{
    position: relative;
    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}
@keyframes slide{
    0%{
        left: -900px;
        opacity: 0;
    }
    100%{
        left: 0px;
        opacity: 1;
    }
}
main{
    width: 100%;
    margin: 50px auto;
    text-align: center;
}
h2{
    font-family: verdana;
    font-size: 40px;
    margin: 20px;
}
main p{
    width: 40%;
    margin: 20px;
    line-height: 2em;
    text-align: justify;
    font-family: verdana;
    display: inline-block;
    vertical-align: top;
}
img{
    width: 200px;
    height: auto;
    margin: 10px;
    float: left;
    border-radius: 5px;
}
footer{
    width: 100%;
    height: 200px;
    background-color: cadetblue;
    color: white;
    text-align: center;
    padding-top: 160px;
}